In [1]:
from urllib.request import urlretrieve
import pandas as pd

In [2]:
covid_df =pd.read_csv("./italy-covid-daywise.csv")
type(covid_df)

pandas.core.frame.DataFrame

In [3]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [4]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [5]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [6]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [7]:
covid_df.shape

(248, 4)

In [8]:
covid_data_dict={
    "date": ["2020-08-30", "2020-08-31", "2020-09-01", "2020-09-02", "2020-09-03"],
    "new_cases": [1444.0, 244, 245, 246, 247],
    "new_deaths": [1.0, 4.0, 6.0, 8.0, 6.0],
    "new_tests": [53541.0, 42583.0, 54395.0, None, None]
}

In [9]:
covid_data_dict["new_cases"]

[1444.0, 244, 245, 246, 247]

In [12]:
#covid_df["new_cases"]
covid_df.new_cases

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [13]:
cases_df = covid_df[["date", "new_cases"]]
cases_df

           date  new_cases
0    2019-12-31        0.0
1    2020-01-01        0.0
2    2020-01-02        0.0
3    2020-01-03        0.0
4    2020-01-04        0.0
..          ...        ...
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

[248 rows x 2 columns]

In [ ]:
covid_df_copy=covid_df.copy()
covid_df_copy

In [15]:
covid_df.head()
covid_df.tail(3)

           date  new_cases  new_deaths  new_tests
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [16]:
covid_df.new_tests.first_valid_index()

111

In [17]:
covid_df.loc[108:113]

           date  new_cases  new_deaths  new_tests
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0

In [18]:
covid_df.sample(10)

           date  new_cases  new_deaths  new_tests
239  2020-08-26      876.0         4.0    58054.0
58   2020-02-27       78.0         1.0        NaN
184  2020-07-02      182.0        21.0    29147.0
16   2020-01-16        0.0         0.0        NaN
236  2020-08-23     1071.0         3.0    47463.0
44   2020-02-13        0.0         0.0        NaN
231  2020-08-18      320.0         4.0    32687.0
74   2020-03-14     2547.0       252.0        NaN
130  2020-05-09     1327.0       243.0    36091.0
152  2020-05-31      416.0       111.0    28948.0